<?xml version="1.0" encoding="UTF-8"?>
<root>
  <!-- General-purpose indexer -->
  <indexer>

    <!-- Index configuration -->
      <foo_bar>                     <!-- entity type: catalog_product, catalog_category etc. -->

        <name>                      <!-- field name that changed -->
          <foo_bar_name>                   <!-- arbitrary name -->
            <entity>foo/bar</entity>       <!-- source entity model -->
            <resource>foo/baz</resource>   <!-- resource to update index for -->
            <reference>bar_id</reference>  <!-- query for items that reference the updated document -->
            <method>getName</method>       <!-- if method not specified then getData('name') would be assumed -->
            <index>bar_name</index>        <!-- location to save the indexed data: _.bar_name -->
            <ignore/>                      <!-- ignore indexer -->
            <filters>                      <!-- foo/bar collection filters -->
              <foo_bar_status>             <!-- arbitrary name -->
                <field>status</field>      <!-- field name -->
                <value>active</value>      <!-- value -->
                <condition>eq</condition>  <!-- optional. Condition for comparison. Default is: "eq". -->
                <type>string</type>        <!-- optional. Value type. Acceptable types: "integer", "string", "boolean", "array". Default is: "string". Array type example: "1,2,3" -->
              </foo_bar_status>
            </filters>
            <dependency>                   <!-- arbitrary name -->
              <relation_ban>relation_id->ban_id</relation_ban>
            </dependency>
            <fields>                       <!-- fields to add to collection result -->
              <firstname>firstname</firstname>
              <lastname>lastname</lastname>
            </fields>
          </foo_bar_name>
        </name>

        <other_name>                <!-- field name that changed -->
          <foo_bar_other_name>                          <!-- arbitrary name -->
            <duplicates>name/foo_bar_name</duplicates>  <!-- [referenced field name that changed]/[referenced indexer name] -->
            <method>getSurname</method>                 <!-- If an indexer uses "duplicates" it must specify a method -->
          </foo_bar_other_name>
        </other_name>

      </foo_bar>

  </indexer>
</root>