<?xml version="1.0"?>
<config>
  <sections>
    <dev>
      <groups>
        <debug>
          <fields>
            <mongo_profiler translate="label">
              <label>Mongo Profiler</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>11</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </mongo_profiler>
          </fields>
        </debug>
      </groups>
    </dev>
    <system>
      <groups>
        <mongo_queue>
          <label>Mongo Queue</label>
          <sort_order>100</sort_order>
          <show_in_default>1</show_in_default>
          <fields>
            <cron_enabled translate="label">
              <label>Cron Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <comment>Run the Mongo Queue via the Magento Cron. It is recommended to run the Mongo Queue via a separate unix cron job.</comment>
            </cron_enabled>
          </fields>
        </mongo_queue>
      </groups>
    </system>
  </sections>
</config>
